section#best-sellers {
  width: 100%;
  padding-top: 6.13%;
  overflow: hidden;
  h3.section-title {
    font-family: "Futura";
    text-align: center;
    color: #a6abb2;
    font-size: 4.25vw;
    margin-bottom: 6.13%;
  }
  .category-row {
    margin: 0 2.93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8.97%;
    overflow: hidden;
    .category {
      font-family: "LTC Bodoni 175 Pro", sans-serif;
      font-size: 7vw;
      text-transform: capitalize;
      color: #909090;
      &.selected {
        color: #000;
        border-bottom: 2px solid #000;
      }
    }
  }
  .image-row {
    margin: 0 0 7.2% 13.33%;
    display: flex;
    justify-content: space-between;
    .mobile-current {
      display: flex;
      flex-direction: column;
      width: 208px;
      margin-right: 23px;
      img.product-image {
        margin-bottom: 5.33%;
        height: 297px;
      }
      p.product-title {
        font-family: "Futura", sans-serif;
        font-size: 4.8vw;
        line-height: 24px;
        color: #2a2a2a;
        margin-bottom: 3.2%;
      }
      p.product-price {
        font-family: "Futura", sans-serif;
        font-size: 3.8vw;
        color: #a6abb2;
        margin-bottom: 3.2%;
      }
      img.product-favorite {
        max-width: 24px;
        width: 100%;
      }
    }
    .desktop-product {
      display: none;
    }
    .left-arrow {
      display: none;
    }
    .right-arrow {
      display: none;
    }
  }
  .view-all-btn {
    margin: 0 auto;
    width: 73.33%;
    background: #2a2a2a;
    padding: 3.73% 21.33%;
    p.btn-text {
      font-family: "Futura", sans-serif;
      font-size: 3.8vw;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      display: block;
    }
    p.desktop-text {
      display: none;
    }
  }
}

@media all and (min-width: 768px) {
  section#best-sellers {
    padding-top: 6.25%;
    h3.section-title {
      font-size: 1.25vw;
      margin-left: 8.33%;
      margin-bottom: 0.9%;
      text-align: left;
    }
    .category-row {
      margin: 0;
      justify-content: flex-start;
      margin-bottom: 3.75%;
      margin-left: 8.33%;
      .category {
        font-size: 2.5vw;
        margin-right: 2.78%;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    .image-row {
      margin: 0 3.82% 4.21% 3.82%;
      justify-content: flex;
      align-items: center;
      .mobile-current {
        display: none;
      }
      .desktop-product {
        display: inline-block;
        margin-right: 2.43%;
        &.last {
          margin-right: 3.68%;
        }
        .product-img {
          position: relative;
          margin-bottom: 5.09%;
          img.favorite {
            position: absolute;
            top: 2.6%;
            right: 3.64%;
            cursor: pointer;
          }
        }
        p.product-title {
          font-family: "Futura", sans-serif;
          font-size: 1.667vw;
          line-height: 32px;
          color: #2a2a2a;
          margin-bottom: 9.09%;
        }
        p.product-price {
          font-family: "Futura", sans-serif;
          font-size: 1.25vw;
          line-height: 22px;
          color: #a6abb2;
        }
      }
      .left-arrow,
      .right-arrow {
        display: inline-block;
      }
      .left-arrow {
        margin-right: 4.03%;
      }
    }
    .view-all-btn {
      width: 23.13%;
      padding: 0.97% 4.44%;
      cursor: pointer;
      p.btn-text {
        display: none;
      }
      p.desktop-text {
        display: block;
        font-family: "Futura", sans-serif;
        font-size: 1.111vw;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
}
