@media all and (max-width: 480px) {
  section#cayman-islands {
    width: 100%;
    padding-top: 60px;
    .logo-img {
      margin-bottom: 5.5px;
      img {
        display: block;
        margin: 0 auto;
        max-width: 120px;
      }
    }
    h3.section-title {
      font-family: "LTC Bodoni 175 Pro", sans-serif;
      font-size: 43px;
      text-align: center;
      text-transform: capitalize;
      color: #2a2a2a;
      margin-bottom: 10px;
    }
    .shop-collection-btn {
      width: 279px;
      height: 49px;
      padding: 14px 45px;
      background: #202020;
      border-radius: 2px;
      margin: 0 auto;
      margin-bottom: 30px;
      p.btn-text {
        text-align: center;
        font-family: "Futura", sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        color: #fef8f2;
      }
    }
    .video {
      width: 100%;
      height: 190px;
      background-image: url("/images/cayman-island.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      .triangle {
        position: absolute;
        top: 82px;
        left: 175px;

        width: 0;
        height: 0;
        border-top: 12.5px solid transparent;
        border-bottom: 12.5px solid transparent;
        border-left: 24px solid #fff;
      }
    }
  }
}
