@media all and (max-width: 480px) {
  header {
    width: 100%;
    padding: 5.33% 0;
    margin: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
