@media all and (max-width: 480px) {
  section#shop-by-style {
    width: 100%;
    padding-top: 16.24%;
    h3.section-title {
      font-family: "Futura";
      text-align: center;
      color: #a6abb2;
      font-size: 4.25vw;
      margin-bottom: 6.49%;
    }
    .category-row {
      margin: 0 8.8%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8.53%;
      .category {
        font-family: "LTC Bodoni 175 Pro", sans-serif;
        font-size: 7vw;
        text-transform: capitalize;
        color: #909090;
        &.selected {
          color: #000;
          border-bottom: 2px solid #000;
        }
      }
    }
    .image-row {
      margin-left: 14.13%;
      display: flex;
      justify-content: space-between;
      .product {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        max-width: 208px;
        width: 100%;
        img.product-image {
          margin-bottom: 5.59%;
          height: 297px;
        }
        p.product-title {
          font-family: "Futura", sans-serif;
          font-size: 18px;
          font-size: 4.8vw;
          line-height: 24px;
          color: #2a2a2a;
          margin-bottom: 3.48%;
        }
        p.product-price {
          font-family: "Futura", sans-serif;
          font-size: 14px;
          font-size: 3.8vw;
          color: #a6abb2;
          margin-bottom: 3.2%;
        }
        img.product-favorite {
          max-width: 24px;
          width: 100%;
        }
        &.current {
          margin-right: 6.13px;
        }
        &.next {
          position: absolute;
          right: -35%;
          overflow: hidden;
        }
      }
    }
  }
}
