section#shop-by-cut {
  width: 100%;
  padding-top: 11.47%;
  h3.section-title {
    span {
      display: none;
    }
    font-family: "Futura";
    text-align: center;
    color: #a6abb2;
    font-size: 4.2vw;
    color: #a6abb2;
    margin-bottom: 4.8%;
  }
  .backdrop {
    display: none;
  }
  .category {
    position: relative;
    margin: 0 3.73%;
    width: 92.53%;
    height: 362px;
    margin-bottom: 10.67%;
    &:last-of-type {
      margin-bottom: 0;
    }
    &.tankinis {
      background: url("/images/tankinis.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.onepieces {
      background-image: url("/images/onepieces.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.bikinis {
      background-image: url("/images/bikinis.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .img-text {
      position: absolute;
      background: #fff;
      left: 2.93%;
      bottom: -2.13%;
      padding: 1.15% 5.2%;
      p {
        font-family: "LTC Bodoni 175 Pro";
        font-size: 8.5vw;
        color: #2a2a2a;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
}
@media all and (min-width: 768px) {
  section#shop-by-cut {
    margin: 8.33%;
    padding: 0;
    height: 936px;
    position: relative;
    h3.section-title {
      font-family: "LTC Bodoni 175 Pro", sans-serif;
      font-size: 4.444vw;
      color: #2a2a2a;
      text-align: left;
      margin-top: 2.5%;
      margin-bottom: 0;
      span {
        display: inline-block;
        position: absolute;
        font-family: "Futura", sans-serif;
        font-size: 1.25vw;
        top: 0;
        left: 0;
        color: #67707c;
      }
    }
    .backdrop {
      display: block;
      background: url("/images/backdrop.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 436px;
      width: 82.36%;
      position: absolute;
      top: 75px;
      left: -8.33%;
    }
    .category {
      margin: 0;
      height: auto;
      &.tankinis {
        width: 33.13%;
        height: 643px;
        position: absolute;
        top: 167px;
        left: 0;
        background: url("/images/desktop-tankinis.png");
        .img-text {
          position: absolute;
          padding: 0;
          left: 54.09%;
          bottom: -65px;
          p {
            font-size: 3.333vw;
          }
        }
      }
      &.onepieces {
        width: 30.14%;
        height: 496.64px;
        position: absolute;
        top: 374px;
        left: 36.46%;
        background: url("/images/desktop-onepieces.png");
        .img-text {
          position: absolute;
          padding: 0;
          left: 174px;
          left: 40.09%;
          bottom: -65px;
          p {
            font-size: 3.333vw;
          }
        }
      }
      &.bikinis {
        width: 25.88%;
        height: 558.64px;
        position: absolute;
        top: 0;
        left: 57.36%;
        background: url("/images/desktop-bikinis.png");
        .img-text {
          position: absolute;
          padding: 0;
          left: 55.06%;
          bottom: -65px;
          p {
            font-size: 3.333vw;
          }
        }
      }
    }
  }
}
